@font-face {
    font-family: MooreComputer;
    src: url(fonts/moorecomputer.ttf);
}

body {
    font-family: -apple-system, sans-serif;
    display: flex;
    margin: 0;
    height: 100vh;
    background-color: #212121;
    color: #eeeeee;
}

/* Sidebar Menu */
#sidebar-toggle {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
    padding: 10px 15px;
    background: #a6cc83;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
}

#sidebar { 
    z-index: 1001;
    transition: transform 0.3s ease;
    width: 300px; background: #303030; border-right: 1px solid #696969; 
    overflow-y: auto; padding: 20px; 
}
#sidebar.hidden {
    transform: translateX(-300px);
    margin-right: -300px; /* Collapse the space it takes */
}
#sidebar h2 { font-size: 1.2rem; margin-top: 0; }
.song-link { 
    display: block; padding: 5px 0; color: #b4cf9e; text-decoration: none; 
    cursor: pointer; border-bottom: 1px solid #696969;
}
.song-link:hover { text-decoration: underline; }

.song-list-spacer {height: 80px}

/* Main Content View */
#viewer { flex-grow: 1; padding: 40px; overflow-y: auto; transition: margin-left 0.3s ease;}
.song-title { margin: 0; color: #ffffff;}
.song-author { margin: 0; font-style: italic; color: #b4b4b4;}

.song-body {margin-top: 20px}

.paragraph {
    display: flex;
    margin-bottom: 30px;
}

.lyrics {
    color: #ffffff; 
}

.chords {
    color: #b4cf9e; 
    font-weight: bold;
    margin-left: 20px;
}

.main-heading {
    font-family: MooreComputer;
    color: #a6cc83;
    font-size: 40px;
}

.chorus-spacer {
    width: 40px;
}

.paragraph p {
    margin: 0;
    line-height: 1.3;
    min-height: 1.3em;
}

a {
    text-decoration: none;
}

a:link {
    color: #779b5a;
}

a:visited {
    color: #ca845b;
}

a:hover {
    color: #bff198;
}

a:active {
    color: #eeeeee;
}

@media (max-width: 768px) {
    #sidebar {
        position: fixed;
        height: 100vh;
        z-index: 999;
    }
    #sidebar.hidden {
        transform: translateX(-100%);
    }
    #viewer {padding: 4px};
    .chorus-spacer {
        width: 8px;
    }
    .chords {margin-left: 4px};
}

.loader {
    border: 4px solid #696969;
    border-top: 4px solid #ffffff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }