body {
    background-color: #424242;
    background-image: url('images/background.gif');
}

div.main {
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    width: 960px;
}

h1 {
    color: #42ff69;
    margin-left: 20px;
}

p {
    color: #eeeeee;
}